/* Promenljive */
$font-main: Arial, sans-serif;
$color-text: #333;
$color-primary: #ff7e5f;
$color-primary-light: #feb47b;
$color-light-gray: #f3f3f3;
$color-dark: #222;
$color-white: #fff;

$radius-card: 10px;
$radius-btn: 8px;
$shadow-card: 0 2px 10px rgba(0, 0, 0, 0.1);
$shadow-btn-hover: 0px 5px 15px rgba(255, 126, 95, 0.4);

/* Responsive Mixin */
@mixin responsive($max-screen-size) {
    @media (max-width: $max-screen-size) {
        @content;
    }
}

/* General Styles */
body {
    font-family: $font-main;
    color: $color-text;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 32px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: $shadow-card;
    margin-bottom: 10px;
    
    .logo {
        font-size: 24px;
        font-weight: bold;
        color: $color-primary;
    }
    
    .nav-links {
        list-style: none;
        padding: 0;
        
        li {
            display: inline-block;
            margin: 0 10px;
        }
        
        a {
            text-decoration: none;
            font-weight: bold;
            
            &:hover {
                color: $color-primary;
            }
        }
    }
}

/* Primary Button */
.primary-btn {
    display: inline-block;
    padding: 15px 30px;
    cursor: pointer;
    
    font-size: 18px;
    font-weight: bold;
    color: $color-white;

    text-decoration: none;
    border: none;
    border-radius: $radius-btn;
    background: linear-gradient(45deg, $color-primary, $color-primary-light);

    &:hover {
        box-shadow: $shadow-btn-hover;
    }
}

/* Main Section */
.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 10px;

    .content {
        width: 50%;
    }

    h1 {
        font-size: 48px;
        color: $color-primary;
    }

    p {
        font-size: 18px;
    }

    img {
        width: 40%;
    }
}

/* Features & Plans Sections */
.features {
    background: $color-light-gray;
}
.center-section {
    text-align: center;
    padding: 50px 10px;

    .card-list {
        display: flex;
        justify-content: space-between;

        @include responsive(992px) {
            flex-direction: column;
            align-items: center;
            gap: 50px;
        }

        .card {
            background: $color-white;
            padding: 20px;
            width: 27%;
            border-radius: $radius-card;
            box-shadow: $shadow-card;

            @include responsive(992px) {
                width: 80%;
            }
        }
    }
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background: $color-dark;
    color: $color-white;
}

/* Responsive */
// @media screen and (max-width: 992px) {
//     .card-list {
//         flex-direction: column;
//         align-items: center;
//         gap: 50px;

//         .card {
//             width: 80%;
//         }
//     }
// }